[submodule "external/nanogui"]
	path = external/nanogui
	url = https://github.com/wjakob/nanogui.git
[submodule "external/tinyobjloader"]
	path = external/tinyobjloader
	url = https://github.com/syoyo/tinyobjloader.git
